body{
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Jost", sans-serif;
  margin: 0px;
}
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.body{
  font-size: 24px;
  width: 800px;
  margin: auto;

}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #404163;
  top: 0;
  margin: 0px;
  padding: 0px;
  position: sticky;
}

li {
  margin: 0px;
  float: left;
}
.navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin: 0px;
  padding: 0px;
  top: 0;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  margin: 0px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
